$primary: orange;

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge(
    (
        touchy: 48px
    ),
    $sizes
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";